body {
	margin: 0;
	background: #212121;
	color: inherit;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
header {
	display: block;
	height: 72px;
	background-color: #212121;
}
/* HEADER */
.navi {
	height: 71px;
}
.navi img {
	height: 72px;
}

.navi ul {
	float: right;
	background-color: #212121;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-flex;
}
.navi li {
	display: block;
	position: inherit;
	width: auto;
	padding: 0;
	align-self: flex-end;
}

nav > ul > li > a {
	display: block;
	border-bottom: 3px solid transparent;
	margin: 15;
	text-align: center;
	padding: 25px;
	position: relative;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

.color a {
	display: block;
	color: #9e9e9e;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.color a:hover {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.active {
	border-bottom: 3px solid #fff;
}
/* END OF HEADER */
/* FOOTER */
/* ----------------------------------------------------------------------------------------------------------------- */
.footer {
	position: relative;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px 20px 50px;
}

.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left {
	width: 40%;
}
.footer img {
	margin-top: 20px;
	height: 150px;
	width: 400px;
}
/* Footer Down */

.footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 60px 0 0 0;
	text-align: center;
}

/* Footer Center */

.footer-center {
	width: 35%;
}
.address span {
	margin: 0 0 5px 0;
}
.phone {
	margin: 25px 0 25px 0;
}

.footer p > a:link {
	font-size: 20px;
	line-height: 38px;
	color: #8490a7;
}

.footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-center p > a {
	color: #5383d3;
	text-decoration: none;
}

/* Footer Right */

.footer-right {
	width: 20%;
}

.footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
/* END OF FOOTER */

/* BODY */
.block {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bgimg {
	background: #212121;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url('/probva.jpg');
	background-blend-mode: soft-light;
	position: relative;
	height: max-content;
	background-size: cover;
	background-attachment: fixed;
	padding-inline: 0;
}
.dark {
	position: relative;
	

	background-size: cover;
	background-color: #212121;
	color: white;
	padding-top: 40px;
	padding-inline: 0;
}
.title {
	color: #e4e4e4;
	background: none;
	margin-inline: 10%;
}
.title p {
	margin: 55px 50px;
	font-size: 30px;
}

.white {
	background-color: #fff;
	color: dark;
	padding-top: 40px;
}

.uslugi {
	margin: auto;
	width: 60%;
}
.uslugi li {
	list-style-type: none;
}
.uslugi li {
	padding: 10px;
}
.center {
	text-align: center;
}
.text {
	font-size: 26px;
}
/* GALLERY*/

.relative {
	position: relative;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.slides {
    padding: 0;
    width: 70%;
	height: auto;
	aspect-ratio: 3 / 4;
    display: block;
    margin: 0 auto;
    position: relative;
}
.slide {
    top: 0;
    opacity: 0;

	min-height: 700px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }



.slide img {
	aspect-ratio: 3 / 4;
width:100%;
height:auto;
	object-fit: contain;
	display: flex;
}

.nav label {
    width: 10%;
	height: 100%;



    position: absolute;
    display: none;

	  opacity: 1;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;


    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.nav .next span,.nav .prev span {
	align-items: center;
	display:flex;
	height:100%;
	width:20%;
}

.slide:hover + .nav label {opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }
input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}


input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(255, 255, 255, 0.8);
}
/* TEXTS */
.big-text {
	font-size: 50px;
	padding-top: 30px;
	margin-top: 0;
}
.span-big {
	font-size: 40px;
}

/* Animated text */
.animtext {
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #e4e4e4;
	height: 90px;
}
.item-1,
.item-2,
.item-3,
.item-4 {
	background-color: #e4e4e4;
	color: #000;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100px;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}

.item-1 {
	animation: anim-1 5s both infinite linear;
}

.item-2 {
	animation: anim-2 5s both infinite linear;
}

.item-3 {
	animation: anim-3 5s both infinite linear;
}
.item-4 {
	animation: anim-4 5s forwards infinite linear;
}

/* ANIM KEYS */
@keyframes anim-1 {
	0%,
	0% {
		left: -100%;
	}
	10%,
	20% {
		left: 0%;
	}
	30%,
	100% {
		left: 100%;
	}
}

@keyframes anim-2 {
	0%,
	20% {
		left: -100%;
	}
	30%,
	40% {
		left: 0%;
	}
	50%,
	100% {
		left: 100%;
	}
}

@keyframes anim-3 {
	0%,
	40% {
		left: -100%;
	}
	50%,
	60% {
		left: 0%;
	}
	70%,
	100% {
		left: 100%;
	}
}

@keyframes anim-4 {
	0%,
	60% {
		left: -100%;
	}
	70%,
	80% {
		left: 0%;
	}
	90%,
	100% {
		left: 100%;
	}
}

/* MEDIA */
@media screen and (min-width: 950px) and (max-width: 2100px) {
	.item-1,
	.item-2,
	.item-3,
	.item-4 {
		font-size: 45px;
	}
	.animtext {
		height: 40px;
	}
	.footer img {
		width:80%;
	}


}

@media screen and (min-width: 910px) and (max-width: 950px) {
	.item-1,
	.item-2,
	.item-3,
	.item-4 {
		font-size: 40px;
	}

	.animtext {
		height: 30px;
		padding-top: 30px;
	}
	.gallery {
		width: 500px;
	}
	.footer img {
		width:80%;
	}
	.img {
		height: 500px;
		width: 500px;
	}
	

}

@media screen and (min-width: 653px) and (max-width: 910px) {
	.navi > img {
		float: left;
	}

	.navi {
		width: 100%;
		display: block;
		float: right;
		position: relative;
	}
	.navi ul {
		display: inline-flex;
		float: right;

		max-width: 100%;
		height: 100%;
	}

	li > a {
		box-sizing: border-box;
		width: inherit;
		top: 0%;
		display: inline-block;
		padding: 10px;
	}

	.animtext {
		height: 100px;
	}
	.item-1,
	.item-2,
	.item-3,
	.item-4 {
		font-size: 50px;
	}
	.footer-center,
	.footer-right {
		display: block;
		width: 80%;
		padding: 30px;
		padding-bottom: 30px;
	}
	.footer {
		width: 100%;
		padding: 0;
		margin: auto;
		width: fit-content;
	}
	.img {
		height: 500px;
		width: 500px;
	}
	.slides {width:90%;}
	.nav label {font-size: 100px;}



}

@media screen and (min-width: 390px) and (max-width: 653px) {
	.navi > img {
		width: 100%;
		height: 200%;
		float: left;
	}
	header {
		height: 428px;
	}
	.navi {
		display: block;
		float: right;
		position: relative;
	}
	.navi ul {
		width: 100%;
		text-align: center;
		position: relative;
		display: table;
	}
	.navi ul li {
		width: 100%;
		display: inline-flex;
		max-width: 100%;
		height: 100%;
	}

	li > a {
		box-sizing: border-box;
		width: inherit;
		top: 0%;
		display: inline-block;
		padding: 10px;
	}
	.bgimg img {
		width: 112px;
	}
	.animtext {
		height: 55px;
	}

	.item-1,
	.item-2,
	.item-3,
	.item-4 {
		font-size: 35px;
	}
	.nav {
		height: auto;
	}


	.footer-center,
	.footer-right {
		display: block;
		width: 80%;
		padding: 30px;
		padding-bottom: 30px;
	}
	.footer {
		width: 100%;
		padding: 0;
		margin: auto;
		width: fit-content;
	}
	.slides {width:90%;}
	.nav label {width:15%;font-size: 80px;}
}
@media screen and (max-width: 390px) {
	body {
		width: auto;
	}
	.navi > img {
		width: 100%;

		float: left;
	}
	header {
		height: 350px;
	}
	.navi {
		display: block;
		float: right;
		position: relative;
	}
	.navi ul {
		width: 100%;
		text-align: center;
		position: relative;
		display: table;
	}
	ul > a {
		padding: 25px 0;
	}
	.tab {
		height: 102px;
	}
	.item-1,
	.item-2,
	.item-3,
	.item-4 {
		font-size: 30px;
	}
	.animtext {
		height: 50px;
	}
	.gallery {
		margin: 0;
		width: 100%;
	}

	.footer-center,
	.footer-right {
		display: block;
		width: 80%;
		padding: 30px;
		padding-bottom: 30px;
	}
	.footer {
		width: 100%;
		padding: 0;
		margin: auto;
		width: fit-content;
	}
	.footer-left img {
		width: fit-content;
	}
	.slides {width:90%;}
.nav label {font-size: 60px;}
}
